# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
.pytest_cache/

# Node
node_modules/
dist/
build/

# Virtualenvs / conda envs
.venv/
venv/
.conda/

# Editor
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Output artifacts
*.mp4
